<section id="{{ include_dict.section.section_id }}" class="block cta-block bg-accent outer">
  <div class="inner-large">
    <div class="grid">
      <div class="cell block-content">
        <h2 class="block-title">{{ include_dict.section.title }}</h2>
        {% if include_dict.section.subtitle %}
        <p class="block-subtitle">
          {{ include_dict.section.subtitle | safe }}
        </p>
        {% endif %}
      </div><!-- .block-content -->
      {% if include_dict.section.actions %}
      <div class="cell block-buttons">
        {% for action in include_dict.section.actions %}
        <a href="{{ action.url | relative_url }}" class="button white large">{{ action.label }}</a>
        {% endfor %}
      </div><!-- .block-buttons -->
      {% endif %}
    </div><!-- .grid -->
  </div><!-- .inner -->
</section><!-- .hero -->
