<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">

      <div class="site-branding">
        {% if site.params.header.logo_img %}
        <p class="site-logo">
          <a href='{{ "/" | relative_url }}'>
            <img src="{{ site.params.header.logo_img | relative_url }}" alt="Logo" />
          </a>
        </p><!-- .site-logo -->
        {% endif %}
        {% if page.template == "landing" or page.template == "blog" %}
        <h1 class="site-title"><a href='{{ "/" | relative_url }}'>{{ site.params.header.title }}</a></h1>
        {% else %}
        <p class="site-title"><a href='{{ "/" | relative_url }}'>{{ site.params.header.title }}</a></p>
        {% endif %}
      </div><!-- .site-branding -->

      {% if site.params.header.nav_links and site.params.header.has_nav %}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span
              class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
            {% for action in site.params.header.nav_links %}
            <li {{ classNames('menu-item', {'current-menu-item': page.url == action.url, 'menu-button': action.primary }) }}>
              <a href="{{ action.url | relative_url }}"
                 {% if action.new_window %}target="_blank" rel="noopener"{% endif %}
                 {{ classNames({'button': action.primary}) }}>{{ action.label }}</a>
            </li>
            {% endfor %}
          </ul><!-- .menu -->
        </div><!-- .site-nav-inside -->
      </nav><!-- .site-navigation -->
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu"
          aria-hidden="true"></span></button>
      {% endif %}

    </div><!-- .site-header-inside -->
  </div><!-- .inner -->
</header><!-- .site-header -->
