{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="block text-block bg-{{ section.background }} outer">
  <div class="inner">
    <div class="grid">
      {% if section.image %}
      <div class="cell block-preview">
        <img src="{{ section.image | relative_url }}" alt="{{ section.title }}" />
      </div><!-- .block-preview -->
      {% endif %}
      <div class="cell block-content">
        {% if section.title %}
        <h2 class="block-title underline">{{ section.title }}</h2>
        {% endif %}
        <div class="block-copy">
          {{ section.content | markdownify }}
        </div>
        {% if section.actions %}
        <p class="block-buttons">
          {% set include_dict = {'actions': section.actions} %}
          {% include "cta_buttons.html" %}
        </p>
        {% endif %}
      </div><!-- .block-content -->
    </div><!-- .grid -->
  </div><!-- .inner -->
</section><!-- .block -->
