{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="block pricing-block bg-{{ section.background }} outer">
  <div class="block-header inner-small">
    {% if section.title %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% if section.subtitle %}
    <p class="block-subtitle">
      {{ section.subtitle | safe }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  {% if section.pricing_plans %}
  <div class="inner">
    <div class="grid">

      {% for plan in section.pricing_plans %}
      <div class="cell plan{% if plan.highlight %} highlight{% endif %}">
        <div class="plan-inside">
        <h3 class="plan-name">{{ plan.title }}</h3>
        {% if plan.price %}
        <div class="plan-price">{{ plan.price }}</div>
        {% endif %}
        <div class="plan-details">
          {{ plan.details | markdownify }}
        </div>
        {% if plan.actions %}
          {% set include_dict = {'actions': plan.actions} %}
          {% include "cta_buttons.html" %}
        {% endif %}
        </div><!-- .plan-inside -->
      </div><!-- .cell -->
      {% endfor %}

    </div><!-- .grid -->
  </div><!-- .inner -->
  {% endif %}
</section><!-- .block -->
