{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="block faq-block bg-{{ section.background }} outer">
  <div class="inner-small">
    <div class="block-header">
      {% if section.title %}
      <h2 class="block-title">{{ section.title }}</h2>
      {% endif %}
      {% if section.subtitle %}
      <p class="block-subtitle">
        {{ section.subtitle | safe }}
      </p>
      {% endif %}
    </div><!-- .block-header -->
    {% if section.faq_items %}
    <dl class="faq-accordion">
      {% for faqitem in section.faq_items %}
      <dt class="accordion-header">
        <button class="accordion-trigger">
          <div class="accordion-title">{{ faqitem.question }}</div>
          <div class="accordion-icon icon-plus"></div>
        </button>
      </dt>
      <dd class="accordion-panel">
        <div class="accordion-content">
          {{ faqitem.answer | markdownify }}
        </div>
      </dd>
      {% endfor %}
    </dl><!-- .faq-accordion -->
    {% endif %}
  </div><!-- .inner-small -->
</section><!-- .block -->
