<section id="{{ include_dict.section.section_id }}" class="block features-block bg-{{ include_dict.section.bg }} outer">
  <div class="block-header inner-small">
    <h2 class="block-title">{{ include_dict.section.title }}</h2>
    {% if include_dict.section.subtitle %}
    <p class="block-subtitle">
      {{ include_dict.section.subtitle | safe }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  {% if include_dict.section.featureslist %}
  <div class="inner">
    {% for feature in include_dict.section.featureslist %}
    <div class="block-item">
      <div class="grid">
        {% if feature.image %}
        <div class="cell block-preview">
          <img src="{{ feature.image | relative_url }}" alt="{{ feature.title }}" />
        </div><!-- .block-preview -->
        {% endif %}
        <div class="cell block-content">
          <h3 class="block-title underline">{{ feature.title }}</h3>
          <div class="block-copy">
            {{ feature.content | markdownify }}
          </div>
          {% if feature.actions %}
            {% set include_dict = {'actions': feature.actions} %}
            {% include "cta_buttons.html" %}
          {% endif %}
        </div><!-- .block-content -->
      </div><!-- .grid -->
    </div><!-- .block-item -->
    {% endfor %}
    </div><!-- .inner -->
  {% endif %}
</section><!-- .block -->
