<section id="{{ include_dict.section.section_id }}" class="block pricing-block bg-{{ include_dict.section.bg }} outer">
  <div class="block-header inner-small">
    <h2 class="block-title">{{ include_dict.section.title }}</h2>
    {% if include_dict.section.subtitle %}
    <p class="block-subtitle">
      {{ include_dict.section.subtitle | safe }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  {% if include_dict.section.pricingplans %}
  <div class="inner">
    <div class="grid">
      {% for plan in include_dict.section.pricingplans %}

      <div class="cell plan{% if plan.highlight %} highlight{% endif %}">
        <div class="plan-inside">
        <h3 class="plan-name">{{ plan.title }}</h3>
        {% if plan.price %}
        <div class="plan-price">{{ plan.price }}</div>
        {% endif %}
        <div class="plan-details">
          {{ plan.details | markdownify }}
        </div>
        {% if plan.actions %}
          {% set include_dict = {'actions': plan.actions} %}
          {% include "cta_buttons.html" %}
        {% endif %}
        </div><!-- .plan-inside -->
      </div><!-- .cell -->

      {% endfor %}
    </div><!-- .grid -->
  </div><!-- .inner -->
  {% endif %}
</section><!-- .block -->
