{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="block cta-block bg-accent outer">
  <div class="inner-large">
    <div class="grid">
      <div class="cell block-content">
        {% if section.title %}
        <h2 class="block-title">{{ section.title }}</h2>
        {% endif %}
        {% if section.subtitle %}
        <p class="block-subtitle">
          {{ section.subtitle | safe }}
        </p>
        {% endif %}
      </div><!-- .block-content -->
      {% if section.actions %}
      <div class="cell block-buttons">
        {% for action in section.actions %}
          {% set include_dict = {'action': action, 'class_names': 'button white large'} %}
          {% include "action-link.html" %}
        {% endfor %}
      </div><!-- .block-buttons -->
      {% endif %}
    </div><!-- .grid -->
  </div><!-- .inner -->
</section><!-- .hero -->
