<section id="{{ include_dict.section.section_id }}" class="block text-block bg-{{ include_dict.section.bg }} outer">
  <div class="inner">
    <div class="grid">
      {% if include_dict.section.image %}
      <div class="cell block-preview">
        <img src="{{ include_dict.section.image | relative_url }}" alt="{{ include_dict.section.title }}" />
      </div><!-- .block-preview -->
      {% endif %}
      <div class="cell block-content">
        {% if include_dict.section.title %}
        <h2 class="block-title underline">{{ include_dict.section.title }}</h2>
        {% endif %}
        <div class="block-copy">
          {{ include_dict.section.content | markdownify }}
        </div>
        {% if include_dict.section.actions %}
        <p class="block-buttons">
          {% for action in include_dict.section.actions %}
          <a href="{{ action.url | relative_url }}" class="button secondary">{{ action.label }}</a>
          {% endfor %}
        </p>
        {% endif %}
      </div><!-- .block-content -->
    </div><!-- .grid -->
  </div><!-- .inner -->
</section><!-- .block -->
